mixin acc_results(type)
  //- 공통 요소 Start
  - const prefix = "mui"
  - const divide = '_'
  - const element = 'div'
  if type == "acc_result"
    #{element}(
      class=`${prefix}${divide}accresult`
    )
      .acc_result
        p.date 2023.02.01
        .lists 
          .text 
            p.txt1 GS 편의점
            p.txt2.out 5,000원
          .time 
            p.txt1 11:08:00
            p.txt2 3,064,000원

        .lists 
          .text 
            p.txt1 급여
            p.txt2.in 30,000,000원
          .time 
            p.txt1 11:08:00
            p.txt2 3,064,000원
            
        .lists 
          .text 
            p.txt1 ABC 카페
            p.txt2.out 30,000원
          .time 
            p.txt1 11:08:00
            p.txt2 3,064,000원

  if type == "acc_result2"
    #{element}(
      class=`${prefix}${divide}accresult`
    )
      .acc_result
        p.date 02.15.01
        .lists 
          .text 
            p.txt1 7회차
            p.txt2.out 5,000원
          .time 
            p.txt1 11:08:00
            p.txt2 3,064,000원

  if type == "acc_result3"
    #{element}(
      class=`${prefix}${divide}accresult`
    )
      .acc_result
        p.date 02.15.01
        .lists 
          .text 
            p.txt1 대출상환
            p.txt2 10,000,000원
          .time 
            p.txt1 11:08:00
          +collapse({
            isOpen:false
          })
            +header()
              span.hidden 상세정보
            +content()
              .box
                .text 
                  p.txt1 이자
                  p.txt2 50,000원
                .text 
                  p.txt1 연체료
                  p.txt2 500원
                .text 
                  p.txt1 연체이자
                  p.txt2 500,000원
              