header.header 
  .inner 
    h1.logo
      a(href="#") 스마트시청

    .tnb 
      .menu 
        a(href="") 호조별
      .menu 
        a(href="") 시정영상
      .menu 
        a(href="") 통합플랫폼
      .menu.toggle 
        //- mui-toggle="target:#drop_menu"
        button(
          type="button"  
          mui-toggle="target:#drop_menu"
        ) English 
        #drop_menu.drop_menu(
          hidden=""
        )
          ul 
            li 
              a(href="") Korea
            li.mui_active 
              a(href="") English
      .menu.kren 
        button(
          type="button"
          mui-toggle="cls:mui_active"
        )
          span KR
          span EN
      .menu.search
        button(
          type="button"
          mui-toggle="target:#commonSearch"
        )
          span 검색
      .menu.allmenu
        button(
          type="button"
          mui-toggle="target:#commonAllmenu"
        )
          span 전체메뉴
    .gnb 
      .inset 
        ul.menu
          li.deps1 
            a(href="") 민원분석
            .deps2 
              ul 
                li
                  a(href="") 민원총괄
                li
                  a(href="") 부서별 민원 현황
                li
                  a(href="") 분야별 민원 현황
          li.deps1 
            a(href="") 실시간 도시현황
            .deps2 
              ul 
                li
                  a(href="") 교통정보
                li
                  a(href="") 대기환경
                li
                  a(href="") 감염병 발생
                li
                  a(href="") 호조벌
                li
                  a(href="") 통합플랫폼
                li
                  a(href="") 시정영상
          li.deps1 
            a(href="") 시정데이터
            .deps2 
              ul 
                li
                  a(href="") 시정데이터
          li.deps1
            a(href="") 테마지도
            .deps2 
              ul 
                li
                  a(href="") 테마지도
                li
                  a(href="") 부동산 지도
          li.deps1
            a(href="") 빅데이터 분석
            .deps2 
              ul 
                li
                  a(href="") 자체분석
                li
                  a(href="") 분석플랫폼
          li.deps1
            a(href="") 공유박시
            .deps2 
              ul 
                li
                  a(href="") 홍보영상
                li
                  a(href="") 관련뉴스
                li
                  a(href="") 공공데이터
                li
                  a(href="") 연관 플랫폼 목록
          li.deps1
            a(href="") 스마트시청 소개
            .deps2 
              ul 
                li
                  a(href="") 포털소개
                li
                  a(href="") 공지사항
    


