mixin button_group(params={})
  //- 공통 요소 Start
  - const prefix = "mui"
  - const divide = '_'
  //- 공통 요소 End
  - const { element="div", size="medium", className, btns, ...rest } = Object.assign({}, params)
  #{element}(
    id=id
    class=`${prefix}${divide}button${divide}group`
    class=className
  )
    each val in btns
      span.group
        +button({
          label:val
        })


mixin button_wrap(params={})
  //- 공통 요소 Start
  - const prefix = "mui"
  - const divide = '_'
  //- 공통 요소 End
  - const { element="div", className, ...rest } = Object.assign({}, params)

  #{element}(
    id=id
    class=`${prefix}${divide}button${divide}wrap`
    class=className
  )
    block

mixin button(params={})
  //- 공통 요소 Start
  - const prefix = "mui"
  - const divide = '_'
  //- 공통 요소 End
  

  - let element = "button"
  - let buttonType = "button"
  - const { size="medium", label, isIcon, href, muiToggle, className, disabled, type="primary", id, ...rest } = Object.assign({}, params)
  //- primary , success, grey, white, info, default
  if href
    - element = "a"
    - buttonType = undefined
  #{element}(
    id=id
    class=`${prefix}${divide}button`
    class=`${prefix}${divide}${size}`
    class=`${prefix}${divide}${type}`
    class=className
    class={
      'mui-icon':isIcon,
    }
    type=buttonType
    href=href
    mui-toggle=muiToggle
    disabled=disabled
  )
    span!=label

mixin button_select(params={})
  //- 공통 요소 Start
  - const prefix = "mui"
  - const divide = '_'
  //- 공통 요소 End
  
  - const { element = "button", label, placeholder, disabled, className, ...rest } = Object.assign({}, params)


  #{element}(
    id=id
    class=`${prefix}${divide}button`
    class=`${prefix}${divide}select`
    class=className
    type="button"
    disabled=disabled
  )
    span.inset
      if label
        span.label!=label
          span.hidden 선택 됨
      span.placeholder(
        aria-hidden="true"
      )
        | #{placeholder}

mixin button_select_account(params={})
  //- 공통 요소 Start
  - const prefix = "mui"
  - const divide = '_'
  //- 공통 요소 End
  
  - const { element = "button", disabled, className, isMoney, isImg=false, ...rest } = Object.assign({}, params)


  #{element}(
    id=id
    class=`${prefix}${divide}button`
    class=`${prefix}${divide}select account`
    class={"no_img":isImg}
    class=className
    type="button"
    disabled=disabled
  )
    span.inset
      if isImg
      else
        span.img 
          img(src="/src/images/icon_bank.png", alt="은행 이미지")
      span.label 저축보통예금
      span.accnum 123-1212-1234-56
      if isMoney
        span.money 
          span.text 출금가능
          span.num 
            | 10,000,000
            span 원
      span.hidden 선택 됨

mixin button_more()
  //- 공통 요소 Start
  - const prefix = "mui"
  - const divide = '_'
  //- 공통 요소 End
  

  - let element = "button"

  #{element}(
    id=id
    class=`${prefix}${divide}button`
    class=`${prefix}${divide}more`
    type="button"
  )
    span
      | 더보기

mixin button_link(params={})
  //- 공통 요소 Start
  - const prefix = "mui"
  - const divide = '_'
  //- 공통 요소 End
  
  - const { element="div",  className, list = [], ...rest } = Object.assign({}, params)
  #{element}(
    class=`${prefix}${divide}link_text`
    class=className
  )
    each val in list
      a(href="")
        span!=val
mixin button_bottom_fixed(params={})
  //- 공통 요소 Start
  - const prefix = "mui"
  - const divide = '_'
  //- 공통 요소 End
  div(
    class=`${prefix}${divide}button_fixed`
  )
    span.inset
      block
mixin button_tooltip(text)
  //- 공통 요소 Start
  - const prefix = "mui"
  - const divide = '_'
  //- 공통 요소 End
  .mui_tooltip_wrap(
    mui-tooltip=`text:${text};`
  )
    button(
      class=`${prefix}${divide}tooltip`
      type="button"
      disabled=disabled
    )
      span.hidden 자세히 보기
mixin button_custom(params={})
  //- 공통 요소 Start
  - const prefix = "mui"
  - const divide = '_'
  //- 공통 요소 End
  
  - const { element = "button", label, disabled, className, type, ...rest } = Object.assign({}, params)
  - const btnType = element === "button" ? element : null

  if type === 'download-32'
    #{element}(
      class=`${prefix}${divide}button_custom ${type}`
      class=className
      type=btnType
      disabled=disabled
    )
      span.inset!=label
  else if type === 'timeselect-24'
    #{element}(
      id=id
      class=`${prefix}${divide}button_custom ${type}`
      class=className
      type=btnType
      disabled=disabled
    )
      span.inset!=label
  else
    #{element}(
      id=id
      class=`${prefix}${divide}button_custom ${type}`
      class=className
      type=btnType
      disabled=disabled
    )
      span.inset!=label

mixin button_keypad(params={})
  .mui_keypad 
    .quick_btn 
      block
    .key_number 
      button(type="button").key 1
      button(type="button").key 2
      button(type="button").key 3
      button(type="button").key 4
      button(type="button").key 5
      button(type="button").key 6
      button(type="button").key 7
      button(type="button").key 8
      button(type="button").key 9
      button(type="button").key 00
      button(type="button").key 0      
      button(type="button").key.del 
        span.hidden 삭제


