mixin card(params={})
  //- 공통 요소 Start
  - const prefix = "mui"
  - const divide = '_'
  //- 공통 요소 End

  - const { element = 'div', type="default", data, tag = {label:null, status:"default"}, className, isLinked, isSelecte, title,  ...rest } = Object.assign({}, params)

  #{element}(
    class=`${prefix}${divide}card`
    class=className
    class={"is_linked":isLinked}
    class={"no_tag":!tag.label}
    class={"select_type":isSelecte}
    class={"in_title":title}
  )

    mixin cardData()
      if title
        p.title!=title
      if tag && tag.label
        div.tags
          span.tag(
            class=`${!!tag.status?tag.status:""}`
          )!=tag.label
      +result({
        data:data
      })
    if isLinked 
      a(href="").inset
        +cardData()
        block
    else 
      .inset
        +cardData()
        block


mixin card_ico_list(params={})
  //- 공통 요소 Start
  - const prefix = "mui"
  - const divide = '_'
  //- 공통 요소 End

  - const { element = 'div', src="", text,  ...rest } = Object.assign({}, params)

  #{element}(
    class=`${prefix}${divide}card_list`
    class=className
  )
    a(href="")
      span.img
        img(src=src)
      span.text!=text

