mixin stepWrap(params={})
  //- 공통 요소 Start
  - const prefix = "mui"
  - const divide = '_'
  //- 공통 요소 End

  - const { className, stepName, ...rest } = Object.assign({}, params)
  - const stepItems = [];

  mixin step(item)
    - stepItems.push({name:item, body:block})

  block
  ul(
    class=`${prefix}${divide}step`
    class=className
  )
    each item, index in stepItems
      li
        .num!='0' + (index+1)
        - item.body && item.body()

mixin stepNum(params={})
  //- 공통 요소 Start
  - const prefix = "mui"
  - const divide = '_'
  //- 공통 요소 End

  - const { element="div", className, activeIndex, total, ...rest } = Object.assign({}, params)
  - let index = 1;
  #{element}(
    class=`${prefix}${divide}stepnum`
    class=className
  )
    ul
      while index <= total
        - let isActive = activeIndex == index;
        - let passStep = activeIndex > index
        li.step(
          class={"mui_active":isActive}
          class={"pass_step":passStep}
        )
          span!=index++

      
    
      